# VacationPy

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame

In [4]:
city_df = pd.read_csv("cities.csv")
city_df.head(10)

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,busselton,-33.6500,115.3333,64.00,88,98,1.01,AU,1615145598
1,1,mareeba,-17.0000,145.4333,77.00,83,75,5.75,AU,1615145678
2,2,tooele,40.5308,-112.2983,57.99,50,1,3.44,US,1615145678
3,3,arraial do cabo,-22.9661,-42.0278,78.80,83,75,9.22,BR,1615145678
4,4,kaeo,-35.1000,173.7833,62.01,83,55,5.01,NZ,1615145678
5,5,yellowknife,62.4560,-114.3525,12.00,72,20,14.97,CA,1615145678
6,6,hobart,-42.8794,147.3294,53.01,93,75,2.28,AU,1615145511
7,7,saskylakh,71.9167,114.0833,-30.08,83,99,3.24,RU,1615145678
8,8,ushuaia,-54.8000,-68.3000,44.60,70,40,28.77,AR,1615145679
9,9,bambous virieux,-20.3428,57.7575,81.00,89,40,6.91,MU,1615145679

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [7]:
# Heatmap of humidity
locs = city_df[["Lat", "Lng"]]
humi = city_df["Humidity"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locs, weights=humi, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [9]:
# Add marker layer ontop of heat map


# Display figure